.Slider {
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px 10px;
  width: 100%;
}

.Slider .Title {
  margin: 0 auto;
  width: 90%;
}

.Slider .Track {
  background: #ccc;
  height: 5px;
  margin: 30px auto;
  position: relative;
  width: 90%;
}

.Slider .Handle {
  background: #ccc;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 20px;
}

.Slider .Label {
  position: absolute;
  top: 300%;
  transform: translateX(-50%);
  user-select: none;
}

@media screen and (min-width: 800px) {
  .Slider {
    margin-bottom: 0;
    padding: 0 10px;
    width: calc(40% - 20px);
  }
}
